<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Binu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>binu</description>
    <res-ref-name>jdbc/binu</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ItemFrontController</servlet-name>
    <servlet-class>com.item.action.ItemFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemFrontController</servlet-name>
    <url-pattern>*.ite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodListFrontController</servlet-name>
    <servlet-class>com.goodlist.action.GoodListFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodListFrontController</servlet-name>
    <url-pattern>*.goo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsReviewFrontController</servlet-name>
    <servlet-class>com.goods.review.action.GoodsReviewFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsReviewFrontController</servlet-name>
    <url-pattern>*.re</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberFrontController</servlet-name>
    <servlet-class>com.member.action.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFrontController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AskFrontController</servlet-name>
    <servlet-class>com.ask.action.AskFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskFrontController</servlet-name>
    <url-pattern>*.qa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderFrontController</servlet-name>
    <servlet-class>com.order.action.OrderFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFrontController</servlet-name>
    <url-pattern>*.or</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BasketFrontController</servlet-name>
    <servlet-class>com.goods.basket.action.BasketFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketFrontController</servlet-name>
    <url-pattern>*.bas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliveryFrontController</servlet-name>
    <servlet-class>com.delivery.action.DeliveryFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryFrontController</servlet-name>
    <url-pattern>*.de</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CouponFrontController</servlet-name>
    <servlet-class>com.coupon.action.CouponFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponFrontController</servlet-name>
    <url-pattern>*.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAskFrontController</servlet-name>
    <servlet-class>admin.ask.action.AdminAskFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAskFrontController</servlet-name>
    <url-pattern>*.adask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminItemFrontController</servlet-name>
    <servlet-class>admin.item.action.AdminItemFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminItemFrontController</servlet-name>
    <url-pattern>*.adite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMemberFrontController</servlet-name>
    <servlet-class>admin.member.action.AdminMemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMemberFrontController</servlet-name>
    <url-pattern>*.adme</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminOrderFrontController</servlet-name>
    <servlet-class>admin.order.action.AdminOrderFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderFrontController</servlet-name>
    <url-pattern>*.ador</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeBoardFrontController</servlet-name>
    <servlet-class>com.notice.action.NoticeBoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeBoardFrontController</servlet-name>
    <url-pattern>*.nb</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSalesFrontController</servlet-name>
    <servlet-class>admin.sales.action.AdminSalesFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSalesFrontController</servlet-name>
    <url-pattern>*.ads</url-pattern>
  </servlet-mapping>
</web-app>